ultralytics~=8.3.103
pytest~=8.3.4
pillow~=11.1.0
torch~=2.6.0+cu118
opencv-python~=4.10.0.84
numpy~=2.1.1
PyYAML~=6.0.2
einops~=0.8.0
thop~=0.1.1-2209072238
ultralytics-thop~=2.0.14
requests~=2.32.3
psutil~=6.1.1
matplotlib~=3.10.0
tqdm~=4.67.1
scipy~=1.15.1
packaging~=24.2
setuptools~=68.2.0
wheel~=0.41.2
seaborn
timm